.container {
  display: flex; }

.container {
  display: flex;
  flex-direction: column; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  color: #777777; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 15px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  color: #000; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.full_name {
  display: flex; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.full_name {
  display: flex; }
  .full_name input {
    flex-basis: 1; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.full_name {
  display: flex; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px; }

.birthday span {
  margin: 5px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px; }

.birthday span {
  margin: 5px;
  color: #777777; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px; }

.birthday {
  display: flex; }
  .birthday span {
    margin: 5px;
    color: #777777; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1; }
  .birthday span {
    margin: 5px;
    color: #777777; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px;
  min-width: 400px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px;
  min-width: 400px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45); }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px;
  min-width: 400px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px;
  min-width: 400px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px;
  min-width: 400px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px;
  min-width: 400px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px;
  min-width: 400px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px;
  min-width: 400px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px;
  font-weight: bold; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px;
  min-width: 400px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px;
  min-width: 400px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px;
  min-width: 400px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px;
  font-weight: normal; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 650px;
  min-width: 400px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 500px;
  min-width: 400px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 500px;
  min-width: 300px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 500px;
  min-width: 300px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

@media (max-width: 600px) {
  .full_name {
    flex-direction: column; } }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px; }

body {
  display: flex; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 500px;
  min-width: 300px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

@media (max-width: 600px) {
  .full_name {
    flex-direction: column; } }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 500px;
  min-width: 300px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

@media (max-width: 600px) {
  .full_name {
    flex-direction: column; } }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px; }

body {
  display: block; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 500px;
  min-width: 300px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

@media (max-width: 600px) {
  .full_name {
    flex-direction: column; } }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 500px;
  min-width: 300px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

@media (max-width: 600px) {
  .full_name {
    flex-direction: column; } }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px; }

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 500px;
  min-width: 300px;
  background: #f1f2f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
  padding: 20px;
  margin: auto; }

.full_name {
  display: flex; }
  .full_name input {
    flex: 1; }

@media (max-width: 600px) {
  .full_name {
    flex-direction: column; } }

input {
  padding: 10px;
  border: solid 1px #dadada;
  margin: 5px;
  font-size: 14px; }

.birthday {
  display: flex; }
  .birthday select {
    flex: 1;
    margin: 5px; }
  .birthday span {
    margin: 5px;
    color: #777777; }

input[type="submit"] {
  margin-top: 15px;
  background: #f95a20;
  color: white;
  font-size: 15px; }

